on property:vendor.kpdpwr.reset.enabled=0
    write /sys/devices/soc/qpnp-power-on-1/kpdpwr_reset 0

on property:vendor.kpdpwr.reset.enabled=1
    write /sys/devices/soc/qpnp-power-on-1/kpdpwr_reset 1
